body {
    margin: 0;
    font-family: "Raleway",sans-serif
}

#first {
    background-image: url(./resources/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden
}

.title {
    margin: 0;
    color: #fff;
    padding: 5%0 0 5%
}

.search,.searchField input {
    font-size: 1.1rem;
    text-align: center
}

.search {
    display: grid;
    position: relative;
    height: 30%;
    justify-items: center;
    align-items: center;
    top: 10%;
    transition: all .4s 0s ease-in
}

.searchField input {
    padding: 1.1rem;
    border-width: 0;
    border-color: #ccc;
    background-color: #fff;
    color: #000;
    border-style: hidden;
    border-radius: 50px;
    box-shadow: 0 0 19px rgba(66,66,66,.43);
    transition: all .1s 0s ease-in
}

.searchField input:focus {
    outline: 0;
    transform: scale(1.03)
}

.up {
    transform: translateY(-20%)
}

.hidden {
    visibility: hidden;
    transform: translateY(100%)
}

.results {
    display: grid;
    position: relative;
    justify-items: center;
    text-align: center;
    transition: all .4s 0s ease-in;
    height: 100%;
}

.resultSection {
    width: 60vw;
    height: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: rgb(255,255,255,.7);
    padding: 2%0;
    margin-top: 2%
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.resultSection img {
    width: 20%
}

.flex>div {
    font-size: .8rem;
    width: 30%
}

.hiddenErr {
    visibility: hidden
}

#error {
    color: red
}

@media (max-width:940px) {
    .flex>div {
        width: 40%
    }

    .resultSection {
        width: 70vw
    }
}

@media (max-width:640px) {
    .flex>div {
        width: 80%
    }

    #first {
        overflow: auto
    }
}

@media (max-height:820px) {
    #first {
        overflow: auto
    }
}


@media (max-height:460px) and (min-width:1000px) {
    .resultSection {
        margin-top: 5%
    }
}

@media (max-height:610px) and (max-width:1000px) {
    .resultSection {
        margin-top: 10%
    }
}

@media (max-height:500px) and (max-width:500px) {
    .resultSection {
        margin-top: 20%
    }
}
